body {
    font-family: calibri;
    margin: 0;
}

li {
    list-style: none;
    border-color: black;
    border: solid 3px;
    padding: 2em;
    margin: 2em;
}

li:hover {
    background-color: cornflowerblue;
}

nav {
    padding-bottom: 5em;
    border-bottom: solid 3px;
}

nav i {
    padding: 0.8em;
    float: right;
}

li i {
    float: right;
}
